<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../sections/head %>
</head>
<body>

<header>
    <% include ../sections/header %>
</header>

<!-- Content Start-->
    <% include ../sections/uploadResultContent %>

<div class="resultsPageBottomComponent">
<footer>
    <% include ../sections/footer %>
</footer>
</div>
</div>

</body>
</html>