
        <!--List of popular searches by users of StaphBook-->
        <div id="popularSearches-container" style="margin-left: auto; margin-right: auto; width: 60%">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active list-group-item-dark">
                    Random selection of Genomes
                </button>
				<% include ../snippets/popularGenomes %>

            </div>
        </div>
    </div>