<p id="selectionBar">

  Min. <input id="minGeneticDistanceTyped" value="0.0045" max="0.015" min="0" step="0.00000001" oninput="updateMinTypedSelection()">

  Max. <input id="maxGeneticDistanceTyped" value="0.009" max="0.015" min="0" step="0.00000001" oninput="updateMaxTypedSelection()">

  Order by
  <select name="orderBy" id="orderBy" onchange="updateOrderByProperty()">
  <option value="geneticDistance">Genetic Distance</option>
  <option value="sequenceType">Sequence Type</option>
  <option value="location">Location</option>
  <option value="strain">Strain</option>
  <option value="host">Host</option>
  <option value="isolationSource">Isolation Source</option>
  </select>

  Ascending
  <label class="switch">
    <input id="toggleOrder" type="checkbox" checked onchange="updateOrderByAsc()">
    <span class="toggle round"></span>
  </label>

</p>
