<div id="createAccountContainer">
    <div id="accountCreationInfo">
        <h1 class="text-center" style="margin-top: 20px">Create an account</h1>
        <p class="text-center" style="margin-top: 20px; margin-left: 10%; margin-right: 10%">To create a StaphBook account, enter your details in the fields below and click submit.</p>
    </div>
    <div id="signUp-container" style="margin-top: 20px">
        <div id="signUpForm-conatiner">
            <form id="register" class="needs-validation" method="POST" novalidate="">
                <div class="form-group">
                    <label for="validationEmail">Email</label>
                    <input type="email" class="form-control"
                           id="validationEmail" name="email" placeholder="example@example.com" required="">
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationPassword">Password</label>
                    <input type="password" class="form-control" id="validationPassword" name="password" placeholder="Password" required="">
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="validationConfirmPassword" placeholder="Confirm Password" required="">
                    <div class="invalid-feedback">
                        Please confirm your password by entering it again.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationOrganistation">Organisation</label>
                    <input type="text" class="form-control" id="validationOrganistation" name="organisation" placeholder="Organisation (Optional)">
                </div>
                <div class="form-row">
                    <label for="validationOccupation">Occupation</label>
                    <input type="text" class="form-control" id="validationOccupation" name="occupation" placeholder="Occupation (Optional)">
                </div>
                <div class="form-row">
                    <div class="form-group" style="margin-left: auto; margin-right: auto">
                        <div class="form-check" style="margin: auto; margin-top: 20px;">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="">
                            <label class="form-check-label" for="invalidCheck">
                                I agree to the <a style="color: #303030" href="/termsAndConditions">
                                    <u>Terms and conditions</u>
                                </a>
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-dark" type="submit" style="margin: auto; width: 30%;">Register</button>
                </div>
            </form>

            <% if (userAlreadyExists) { %>
                <script>alert("User email already registered.");</script>
            <% } %>

            <script>
                //JavaScript for disabling form submissions if there are invalid fields
                (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    </div>
</div>