/* width */
::-webkit-scrollbar {
  width: 5px;
  background: #3aa2fb;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3aa2fb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3aa2fb;
}

html {
  overflow-x: hidden;
}

.ant-layout {
  background: white !important;
}
